<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="PondropInfrastructure" value="https://pkgs.dev.azure.com/PondropDevOps/_packaging/PondropDevOps/nuget/v3/index.json" />
  </packageSources>
	<packageSourceCredentials>
		<PondropInfrastructure>
			<add key="Username" value="user"/>
			<add key="ClearTextPassword" value="3sn7hxhu5n3jlg22cbojteotocsuccn257z5zqyat7btza6z4qbq"/>
		</PondropInfrastructure>
	</packageSourceCredentials>
</configuration>